header {
	background: grey;
	height: 200px;
	font-size: 20px;
	margin: 17px;
}
.title {
	font-size: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 20px;
	border-bottom: solid;
}
header ul {
	display: flex;
	justify-content: space-around;
	font-size: 24px;
	border-top: solid;
	padding-top: 10px;
	box-sizing: border-box;

}
header ul li {
	border-bottom: solid;
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
	box-sizing: border-box;
}

main {
	display: flex;
	flex-wrap: wrap;

}
.section-flex {
	display: flex;
}

.videoPlaylist {
	background-color: grey;
	height: 500px;
	width: 100%;
	

}
.aboutMe, .nonVideoWorkout, .nutrition {
	width: 100%;
	height: 100%;
	

}

.aboutMe p {
	max-height: 500px;
	height: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
	box-sizing: border-box;
}

.paragraph a, .aboutMeP a, .to-find a {
	font-weight: bolder;
}

.aboutMe img {
	
	max-height: 500px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 50px;
	margin-left: 50px;
	box-sizing: border-box;	
}

.aboutMeP {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.videoPlaylist {
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.paragraph {
	text-align: center;
	font-size: 40px;
}

 .videoPlayer {
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	padding-bottom: 20px;
}

.videoPlayer p {
	text-align: center;
	padding-bottom: 10px;
}
.nonVideoWorkout img {
	margin: auto;
	width: 40%;
	max-height: 500px;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
}

.workouts {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
}

.workouts img {
	height: 480px;
	width: 370px;
	
}

.to-find {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.to-find a {
	font-size: 40px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}
